/* Background */
body {
  background-image: url("../images/cryptoWallPaper2.jpeg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Background container styles */
.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/cryptoWallPaper2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; /* Ensure the container stays behind other elements */
}

/* Background Image - Responsive */
@media (max-width: 767px) {
  body {
    background-size: cover;
    background-position: center;
  }
}

.navbar-toggler {
  display: block !important;
}

/* Switch Button */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Switch Slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 33px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Loader */
.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Crypto logo */
.crypto-logo {
  justify-content: center;
  max-width: 25%;
}

/* Border class for containers */
.border {
  flex: 1 0 30%;
  box-shadow: 5px 5px 5px white;
  margin: 10px;
  max-width: 30rem;
}

.border:hover {
  box-shadow: 10px 10px 10px rgb(169, 169, 169);
}

/* Container */
#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-x: auto;
  width: 90%;
  margin: auto;
  gap: 19px;
}

/* Card */
.card {
  border-radius: 10px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
}

/* Table */
.table {
  width: 100%;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}

.table th {
  font-weight: bold;
}

.table td {
  vertical-align: middle;
}

/* Custom close button */
.more-info-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: #686868;
  border-radius: 50%;
  box-shadow: 0px 8px 15px rgb(255, 255, 255);
  transition: all 0.3s ease 0s;
}

.more-info-close-btn:before,
.more-info-close-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 2px;
  background-color: #ffffff;
}

.more-info-close-btn:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.more-info-close-btn:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.more-info-close-btn:hover {
  background-color: #686868;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.416);
  transform: translateY(-7px);
}

/* NAV BAR */

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar-brand,
.nav-link {
  color: #ffffff !important;
}

.nav-link:hover {
  color: #ffcc00 !important;
}

.navbar-toggler {
  position: absolute !important;
  right: 0 !important;
  border: none !important;
  background: none !important;
  outline: none !important;
  padding: 0 !important;
  width: 35px !important;
  height: 35px !important;
  cursor: pointer !important;
}

.navbar-toggler:hover {
  transform: rotate(90deg) !important;
  transition: transform 0.3s ease-in-out !important;
}

.navbar-toggler:focus {
  outline: none !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' fill='white'%3E%3Cpath d='M4 10h24v2H4zm0 6h24v2H4zm0 6h24v2H4z'/%3E%3C/svg%3E") !important;
  width: 30px !important;
  height: 30px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

#search-form {
  padding-right: 50px; /* Increase the right padding to prevent overlapping */
}

@media (max-width: 768px) {
  /* Show the button only on small screens */
  .navbar-toggler {
    visibility: visible !important;
    color: transparent !important;
  }
}

@media (min-width: 769px) {
  /* Hide the button on larger screens */
  .navbar-toggler {
    visibility: hidden !important;
  }
}

.btn-outline-light:hover {
  background-color: #ffcc00;
  border-color: #ffcc00;
}

/* Modal Container */
#modal-container {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modal */
.modal {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  max-width: 90%;
  width: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Modal content box */
.modal-content {
  max-width: 500px;
  width: 100%;
  background-color: #0e1116;
  padding: 30px;
  border-radius: 20px;
  position: relative;
  animation-name: slideIn;
  animation-duration: 0.5s;
  text-align: center;
  color: #ffffff;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.modal-content h2 {
  color: #ffffff;
  margin: 0;
  font-size: 2.5em;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.modal-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.modal-content ul li {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  color: #dcdcdc;
  margin-bottom: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.modal-content ul li:hover {
  background-color: rgba(0, 0, 0, 0.938);
  transform: scale(1.05);
}

.modal-content ul li button {
  color: #ffcc00;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: color 0.3s ease;
  font-weight: bold;
}

/* About Page Styles */
.about-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.about-section h2 {
  font-size: 2em;
  margin-bottom: 1em;
  color: #ffcc00;
  text-align: center;
}

.about-section p {
  font-size: 1.2em;
  line-height: 1.6em;
  text-align: justify;
}

#liveReportsChart {
  background: black;
  height: 300px !important; /* Increase the height to make it even bigger */
}

.deselect-coin {
  width: 100%;
  height: 100%;
}